<div class = "FooterContainer">
    <div class = "AboutContainer">
        <h4 class = "BlockHeader">About our company</h4>
        <p class = "BlockParagraph">The company has not yet been established. And site was maded 5 minutes
        ago. So there may be flaws. But the site is fully functional, so we
        recommend that you go through our training so that you can rivet such
        sites very quickly and without any problems.</p>
    </div>
    <div class = "RecentContainer">
        <h4 class = "BlockHeader">Recent posts</h4>
        <p class = "BlockParagraph"><a href="https://www.nixsolutions.com/ru" class = "BlockHrew">Nix company</a></p>
        <p class = "BlockParagraph"><a href="https://www.twitch.tv/happasc2" class = "BlockHrew">Happa</a></p>
        <p class = "BlockParagraph">Copyright &copy; 2021 Nyan² Industries</p>
    </div>
    <div class = "RecomendationContainer">
        <h4 class = "BlockHeader">Recomendation</h4>
        <p class = "BlockParagraph">There is nothing here yet</p>
    </div>
    <div class = "ContactContainer">
        <h4 class = "BlockHeader">Contact us</h4>
        <p class = "BlockParagraph">email: <a href="#" class = "BlockHrew">Some@mail</a></p>
        <p class = "BlockParagraph">phone: <a href="#" class = "BlockHrew">8 800 555 35 35</a></p>
    </div>
</div>