.HeaderContainer {
    background-color: #18191a;
    padding: 32px 0 32px 0;
}
.ButtonHeader{
    background-color: #2b3137;
    text-decoration: none;
    color: #c0c0c0;
}
.ButtonHeaderDiv
{
    padding: 0 3% 0 0;
    float: right;
    text-align: right;
}
.HeaderHrew
{
    padding: 0 0 0 5%;
    text-decoration: none;
    color: #c0c0c0;
}
.RightHrew
{
    padding: 0 3% 0 0;
    text-decoration: none;
    color: #c0c0c0;
    float: right;
    text-align: right;
}